<div class="rounded-lg border border-gray-300 w-full overflow-hidden">

  <a href="{{ url }}">
    <figure class="w-24 h-24 rounded-full mx-auto">
        {{ image }}
    </figure>
  </a>

  <div class="flex flex-col gap-4 p-4 h-36">
      <div class="text-sky-500 dark:text-sky-400">
        Sarah Dayan
      </div>
      <div class="text-slate-700 dark:text-slate-500">
        Staff Engineer, Algolia
      </div>
  </div>
</div>
